# Python
__pycache__/
*.py[cod]
.env
venv/
env/

# Data files (too large for GitHub)
data/raw/*.csv
data/curated/*.csv

# Generated reports (recreated by pipeline)
reports/*.json
reports/*.csv
reports/*.log

# Mac system files
.DS_Store

# VS Code settings
.vscode/